<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienes una cita agendada</title>
</head>
<body style="font-family: Arial, sans-serif; font-size: 18px; line-height: 1.6; margin: 0; padding: 0; background-color: #56baed; color: #ffffff;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
        
        <h1 style="font-size: 20px; margin-bottom: 10px; color: #ffffff;">Gracias por utilizar MuelaAssit,el proceso de eliminaacion de su cuenta ha comenzado.</h1>
        <p style="font-size: 24px; margin-bottom: 10px; color: #ffffff;">Su cuenta sera ELIMINADA DEFINITVAMENTE.</p>
        <p style="font-size: 18px; margin-bottom: 10px; color: #ffffff;">Hola {{ cuenta['nombre_paciente'] }}, usted dejará de tener acceso a su cuenta el {{ cuenta['fecha_peticion_borrar'] }}</p>
        <p style="font-size: 18px; margin-top: 20px; margin-bottom: 10px; color: #ff0000;">En caso de cambiar de parecer o que usted no solicito esto y quiere seguir usando nuestro servicio, puede cancelar el proceso desde su perfil de MuelAssist.</p>
        <f style="font-size: 4px; margin-bottom: 10px; text-align: center; color: #ffffff;">MuelaAssit agradece su preferencia</f>
     </div>
</body>
</html>