<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienes una cita agendada</title>
</head>
<body style="font-family: Arial, sans-serif; font-size: 18px; line-height: 1.6; margin: 0; padding: 0; background-color: #56baed; color: #ffffff;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
        
        <h1 style="font-size: 20px; margin-bottom: 10px; color: #ffffff;">Gracias por utilizar MuelaAssit, su cuenta ha sido borrada exitosamente.</h1>
        <p style="font-size: 18px; margin-bottom: 10px; color: #ffffff;">Tu cuenta ha sido borrada de nuestro sistema.</p>
        <p style="font-size: 18px; margin-top: 20px; margin-bottom: 10px; color: #ffffff;">Gracias por utilizar MuelaAssit y lamentamos los inconvenientes</p>
        <p style="font-size: 18px; margin-top: 20px; margin-bottom: 10px; color: #ffffff;">Si usted desea crear una nueva cuenta con nosotros para usar los servicios de MuelaAssit, con gusto lo recibiremos de nuevo</p>
        <p style="font-size: 18px; margin-top: 20px; margin-bottom: 10px; color: #ffffff;">Puede contactarse directamente a sucursal o puede registrarse de nuevo en nuestra web</p>
        <f style="font-size: 4px; margin-bottom: 10px; text-align: center; color: #ffffff;">MuelaAssit agradece su preferencia</f>
     </div>
</body>
</html>
