<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver cita</title>
    <link rel="stylesheet" href="../static/css/cita.css">
</head>
<body>
    <header class="menu">
        <img src="../static/img/MuelAssist.png" alt="MuelAssist" class="logo">
        <h1>Detalle de la Cita</h1>
    </header>
    <div>
        {% if cita %}
            <p><strong>Doctor:</strong> {{ cita.nombre_doctor }} {{cita.apellido_doctor}}</p>
            <p><strong>Paciente:</strong> {{ cita.nombre_paciente }} {{cita.apellido_paciente}}</p>
            <p><strong>Fecha y Hora:</strong> {{ cita.fecha_hora }}</p>
            <p><strong>Motivo:</strong> {{ cita.motivo }}</p>
            <p><strong>Estado:</strong> {{ cita.estado }}</p>
        {% else %}
            <p class="error">No se encontró la cita.</p>
        {% endif %}
    </div>
</body>
</html>
