<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de contactos</title>
</head>
<body>
    <p>Hola</p>
    <p>Soy la pagina de contactos</p>
    <p>Como podran notar no tengo ninguna informacion que mostrar, y es que el inutil de mi diseñador no ha movido un dedo para hacerme presentable.</p>
    <p>Desde un punto de vista es algo triste. Considerando el poco tiempo que queda para presentarme.</p><br><br>
    <p>Pero bueno, mientras esperamos que las cosas cambien, disfruten de mi ausente belleza.</p>
</body>
</html>