<html>
    <head>
        <title>Compartir Expediente</title>
    </head>
    <body>
        <p>¿Desea compartir el expediente?</p>
        <form method="post" action="{{url_for('permisos_expediente')}}">
        <input type="checkbox" id="pacienteShare" name="pacienteShare" value="{{paciente.id}}">
        <label for="pacienteShare"> ¿Compartir con Paciente?</label><br>
        <input type="checkbox" id="secretarioShare" name="secretarioShare" value="{{secretario.id_usuario}}">
        <label for="secretarioShare"> ¿Compartir con Secretari@?</label><br>
        <label for="nombreUsuario">Nombre de Usuario:</label>
        <input type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Ingresa el nombre del usuario" required><br>
        <label for="privilegios">Privilegios:</label>
        <select id="privilegios" name="privilegios">
            <option value="VER">Ver</option>
            <option value="EDITAR">Modificar</option>
        </select><br>
        <button type="button" onclick="compartirExpediente()">Compartir</button>
        </form>
    </body>
</html>