<html>
    <head>
        <title>Editar expediente</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/alta_empleados_estilo.css">
    </head>
    <body>
        
        <div class="fondo">
        <div class="contenedor-imagen">
            {% if expediente['imagen'] != None %}
            <img src="/{{expediente.imagen}}" >
            {% endif %}
        </div>
        <!--<img class="img-input" id="imgEmpleado" src="img/<?php echo $archivo; ?>">-->
        <a class="regresar" href="{{url_for('expedientes')}}">Regresar a la lista</a>
        <form id="Form01" name="Form01" valign="center" align="middle" method="post" enctype="multipart/form-data" action="{{url_for('editar_expediente', id=expediente.id_expediente)}}"> 
            <div class="tabla">
            <H1>Expediente medico</H1>
                <div class="columna cajas" style="padding-left: 25%;">
                    <br><p>Datos personales</p>
                    <p>Nombre completo: {{expediente.nombre}} {{expediente.apellido}}</p>
                    <p>Sexo: {{expediente.sexo}}</p>
                    <p>Fecha nacimiento: {{expediente.fecha_nacimiento}}</p>
                    <p>Domicilio: {{expediente.domicilio}}</p>
                    <p>Telefono: {{expediente.telefono}}</p>
                    <br><p>Datos de salud</p>
                    <textarea class="txt" id="contenido" name="contenido" cstyle="width:600px;height:80px" data-component="textarea" placeholder="Historial clinico.." aria-labelledby="label_26">{{contenido}}</textarea><br>
                    <br><p>Observaciones</p>
                    <textarea class="txt" id="observaciones" name="observaciones" data-component="textarea" aria-labelledby="label_26">{{observacion}}</textarea><br>
                    <br><p>Notas</p>
                    <textarea class="txt" id="notas" name="notas" data-component="textarea" aria-labelledby="label_26" maxlength="128"></textarea><br><br>
                    <input type="file" id="archivo" accept="image/*" name="archivo" class="imgArch">
                </div>
            </div>
            <input type="submit" class="regresar" value="Guardar cambios"/><br>          
        </form>    
        </div>
       
    </body>
</html>