<html>
    <head>
        <title>MuelaAsisst</title>
        <link rel="stylesheet" href="../static/css/index_estilo.css">         
    </head>
    <body>
        <header class="main-header">
        <div class="container container--flex">
            <h1 class="main-title"><span class="color-span">Muel</span>Asisst</h1>
            <nav class="main-nav">
            <span class="icon-menu" id="btn-menu"><i class="fas fa-bars"></i></span>
            <ul class="menu" id="menu">
                <li class="menu__item"><a href="{{url_for('inicio')}}" class="menu__link menu__link--select"><span>Inicio</span></a></li>
                {% if session['loggedin'] %}
                    <li class="menu__item"><a href="{{url_for('agendar')}}" class="menu__link"><span>Citas</span></a></li>
                    <li class="menu__item"><a href="{{url_for('expedientes')}}" class="menu__link"><span>Expedientes</span></a></li>
                    <li class="menu__item"><a href="{{url_for('contacto')}}" class="menu__link"><span>Contactos</span></a></li>
                    <li class="menu__item"><a href="{{url_for('perfil')}}" class="menu__link"><span>Perfil</span></a></li>
                    {% if session['admin'] or session['idDoctor'] %}
                        <li class="menu__item"><a href="{{url_for('registro_secretario')}}" class="menu__link"><span>Registro Secretari@</span></a></li>
                        {% if session['admin']%}
                            <li class="menu__item"><a href="{{url_for('registro_doctor')}}" class="menu__link"><span>Registro Doctor</span></a></li>
                        {% endif %}
                    {% endif %}
                    <li class="menu__item"><a href="{{url_for('logout')}}" class="menu__link"><span>Cerrar Sesion</span></a></li>
                {% else %}
                    <li class="menu__item"><a href="{{url_for('login')}}" class="menu__link"><span>Iniciar Sesion</span></a></li>
                {% endif %}
            </ul>
            </nav>
        </div>
        </header>
        <div class="banner">
            <div class="banner__content">
                <div class="container"></div>
            </div>
        </div>
        <a href="{{url_for('agendar')}}"><button class="login-btn">Agenda una cita</button></a>
        <main class="main">
        <section class="welcome">
            <h2 class="section__title">¡Bienvenido!</h2>
            <p class="welcome__txt">Imagina poder reservar tus citas médicas desde la comodidad de tu hogar o cualquier lugar con acceso a Internet. Nuestra Agenda Clínica Online simplifica el proceso, permitiéndote gestionar tus citas con facilidad y rapidez. En nuestro consultorio dental virtual, tu comodidad y bienestar son nuestras prioridades. Únete a nosotros en esta nueva era de atención dental, donde cada clic te acerca a una sonrisa más saludable. ¡Descubre la simplicidad de la Agenda Dental Online y toma el control de tu salud oral hoy mismo!</p>
            <img class="dientito" src="static/img/dienteIcon.png">
        </section>
        <section class="container-design">
            <div class="design__item">
            <h3 class="design__title">Blanqueamiento dental</h3>
            <img src="static/img/blanqueamiento.jpg" alt="" class="design__img">
            </div>
            <div class="design__item">
            <h3 class="design__title">Ortodoncia</h3>
            <img src="static/img/ortodoncia.jpeg" alt="" class="design__img">
            </div>
            <div class="design__item">
            <h3 class="design__title">Endodoncia</h3>
            <img src="static/img/servicio.jpg" alt="" class="design__img">
            </div>
            <div class="design__item">
            <h3 class="design__title">Cirugia</h3>
            <img src="static/img/cirugia.jpg" alt="" class="design__img">
            </div>
        </section>
        <section class="container-presentaciones">
            <br>
            <h3 class="section__title">Nuestro equipo</h3>
            <div class="filaPresentacion">
                {% for doctor in doctores %}
                <div class="columna">
                    <img src="../{{doctor.imagen_perfil}}" alt="" class="testimonials__img">
                    <p class="dr__name">Dr. {{doctor.nombre}} {{doctor.apellido}}</p>
                    <p class="especializacion__txt">Especialista en ortodoncia</p>
                    <p class="presentacion__txt">Lider destacado en el campo de la ortodoncia. Con una dedicación excepcional al cuidado del paciente, y una pasión por lograr sonrisas saludables y radiantes. No solo contando con años de experiencia respaldandolo, sino también resultados impecables.</p>
                </div>
                {% endfor %}
            </div>
        </section>
        </main>
        <footer class="main-footer">
        <div class="container">
            <div class="column column--50-25">
            <h2 class="footer__title">Angeles L. Robledo</h2>
            <h3>Clinica de higiene dental</h3>
            
            </div>
            <div class="column column--50-25">
            <h2 class="footer__title">Horario</h2>
            <p class="footer__txt">Lunes a Sabado</p>
            <p>07:00 - 12:00 hrs -- 14:00 a 18:00 hrs</p>
            </div>
            <div class="column column--50-25">
            <h2 class="footer__title">Contacto</h2>
            <div class="contact-icon">
                <i class="fas fa-map-marker-alt"></i>
                <p class="contact__txt">MuelaAsisst</p>
            </div>
            <div class="contact-icon">
                <i class="fas fa-phone-alt"></i>
                <p class="contact__txt">+52 922 131 7689</p>
            </div>
            <div class="contact-icon">
                <i class="fas fa-envelope"></i>
                <p class="contact__txt">MuelaAsisst@example.com</p>
            </div>
            </div>
        </div>
            <p class="copy">© 2023 </span></p>
        </footer>
    <body>
</html>
