<!DOCTYPE html>
<link rel="stylesheet" href="../static/css/estilo.css">
<html>

<head></head>

<body>

  <div class="wrapper fadeInDown">

    <div id="FORMULARIO_CONTENIDO">

      <!-- PESTAÑAS -->
      <h2 class="active" id="iniciar-sesion"> Recupera tu contraseña </h2>

      <!-- ICONO -->
      <div class="fadeIn first">
        <img src="../static/img/diente.png" id="icon" />
      </div>
      <div class="fadeIn first">
        <p>Recuerda que tu contraseña debe tener al menos<br> <b>8 caracteres</b> </p>
        <p>Tambien debe contar con al menos <br> <b>1 numero</b>, <b>1 letra mayuscula</b> y <b>1 caracter especial</b> <br>como estos por ejemplo <b> <br>(@/#/$/%/&) </p>
      </div>

      <!-- Sección de Inicio de Sesión (pantalla de inicio de sesión) -->
      <div id="inicio-sesion-seccion">
        <form action="{{ url_for('reset_password', token=token) }}" method="POST">
            <!-- Otros campos del formulario aquí si es necesario -->
        
            <!-- Campo para la nueva contraseña -->
            <input type="password" name="new_password" placeholder="Nueva Contraseña" required>
        
            <!-- Campo para confirmar la nueva contraseña -->
            <input type="password" name="confirm_password" placeholder="Confirmar Nueva Contraseña" required>
        
            <!-- Botón de enviar el formulario -->
            <input type="submit" value="Enviar">
        </form>
        
      </div>
    </div>

  </div>
</body>

</html>
